html{
	background-color: pink;
}

body{
	width: 1080px;
	background-color: white;	
	margin: 0 auto;
	padding: 0;
}

h1{
	margin: 0;
	padding: 20px 0;
	color: red;
	font-size: 100px;
	text-align: center;
	background-color: pink;
	text-shadow: 10px 10px 8px white;
}

img{
	display: block;
	margin: 0 auto;
}

h2{
	margin: 0;
	padding: 0;
}

p{
	color: blue;
	letter-spacing: 2px;
	font-size: 50px;
}

h3{
	padding: 0 100px;
	margin: 0;
}

li{
	color: red;
	letter-spacing: 2px;
	font-size: 50px;
}

button{
	padding: 10px;
	font-size: 20px;
	width: 200px;
	height: 50px;
	text-align: center;
	align: center;
}

